<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-data-table
          :headers="headers"
          :items="customers"
          hide-actions
          class="elevation-1"
        >
          <template slot="items" slot-scope="props">
            <td>{{ props.item.customerNumber }}</td>
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.email }}</td>
            <td>{{ props.item.mobilePhone }}</td>
          </template>
        </v-data-table>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
import axios from 'axios';

export default {
  data: () => ({
    headers: [
      { text: 'Cust. No', value: 'customerNumber' },
      { text: 'Name', value: 'name' },
      { text: 'Email', value: 'email' },
      { text: 'Mobile Phone', value: 'mobilePhone' }
    ], 
    customers: [
      {
        customerNumber: "123",
        name: "Cust 123", 
        email: "123@default.com", 
        mobilePhone: "012849"
      }
    ]
  }), 
  mounted: function()  {
    var urlCustomer = "http://localhost:20000/api/customer/?access_token="
    + this.$store.getters.accessToken

    // eslint-disable-next-line
    console.log("URL Customer : " + urlCustomer)

    axios.get(urlCustomer).then(response => {
      this.customers = response.data.content
    })
  }
}
</script>