<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <img src="@/assets/logo.png" alt="Vuetify.js" class="mb-5">
        <v-textarea
          solo auto-grow :value="accessToken"
          label="Access Token"
        ></v-textarea>

        <v-textarea
          box auto-grow :value="oauthScope"
          label="Scope"
        ></v-textarea>
        <blockquote>
          &#8220;First, solve the problem. Then, write the code.&#8221;
          <footer>
            <small>
              <em>&mdash;John Johnson</em>
            </small>
          </footer>
        </blockquote>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  methods: {
    parseImplicitOauthUrl(requestParam){
      var regexScope = requestParam + '=([^&]*)'
      var match = RegExp(regexScope).exec(this.$route.path)
      var hasil = match && decodeURIComponent(match[1].replace(/\+/g, ' '))
      // eslint-disable-next-line
      console.log(requestParam + " : " + hasil)
      return hasil
    }
  },
  created: function() {
    var token = this.parseImplicitOauthUrl('access_token')
    if(token) {
      this.$store.commit('accessToken', token)
    }
  },
  computed: {
    accessToken: function() {
      return this.parseImplicitOauthUrl('access_token')
    }, 
    oauthScope: function() {
      return this.parseImplicitOauthUrl('scope')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
