<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        Transaksi Page
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
export default {
  
}
</script>