<template>
  <v-app id="inspire">
    <v-navigation-drawer
      :clipped="$vuetify.breakpoint.lgAndUp"
      v-model="drawer"
      fixed
      app
    >
      <v-list dense>
        <template v-for="item in items">
          <v-list-tile :key="item.text" :to="item.path">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      color="blue darken-3"
      dark
      app
      fixed
    >
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-sm-and-down">Banking Apps</span>
      </v-toolbar-title>
      
      <v-spacer></v-spacer>
      <v-btn flat small left v-for="btn in buttons" :key="btn.text" :href="btn.link">
        <v-icon>{{ btn.icon }}</v-icon>
        {{ btn.text }}
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center align-center>
          <router-view></router-view>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  
  export default {
    data: () => ({
      dialog: false,
      drawer: null,
      buttons: [
        { icon: 'mdi-account-plus', text: 'Register', link: 'https://google.co.id'   },
        { icon: 'mdi-login', text: 'Login', link: 'http://localhost:10000/oauth/authorize?client_id=client002&redirect_uri=http://localhost:8080/&response_type=token' },
        { icon: 'mdi-logout', text: 'Logout' }
      ]
    }),
    computed: {
      items: function(){
        return this.$store.getters.menuSamping
      }
    }
  }
</script>